@media(max-width:1395px)
{
	.mobile-disable
	{
		display:none;
	}
}

.fixed-top /* Used for header or etc*/
{
	position:fixed;
	top: 0px; 
	left: 0px; 
	width: 100%; 
	z-index: 100
}
.fixed-bottom /* Used for footer or etc*/
{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	z-index : 100;
}
.footer
{
	background-color:#f8f9fa;
	font-size:14px;
	text-align:center;
	border-top : 1px solid #e7e7e7;
	padding-top : 10px;
}

/* MISC */
.apply-bootstrap-font-styling
{
	color:#212529;
	font-family:"Arial";
}
.user-navbrand
{
	font-size:33px;
}
.user-navtext
{
	font-size:18px;
	margin-right:40px;
}
.user-navtext-dropdown-content
{
	font-size:14px;
}
.user-navbar-customBgColor
{
	background-color:#f8f8f8;
}
.user-carousel-minicap
{
	line-height:0px;
	font-size:10px;
}
.user-carousel-size
{
	width:1920px;
	height:926px;
}
.align-text-center
{
	text-align: center;
}

/* MAIN*/
.main
{
	height:930px;
}
.main-top
{
	width:100%;
	display:flex;
	justify-content:center;
}
.main-top-carousel
{
	width:1920px;
	height:930px;
}

/*HEADER*/
.header-filler
{
	min-height:75px;
}

/*GRID*/
/*Product contents*/
.product-featured-title
{
	padding-left:10px;
	padding-bottom:10px;
	font-weight:400;
}
.product-contents
{
	background-color:rgba(128, 128, 128, 0.1);
	border:1px solid rgba(8,8,8,0.1);
	text-align:center;
}
.product-contents h3
{
	font-weight:450;
}
.product-img-border
{
	border:1px solid rgba(80,80,80,0.1);
	border-radius:3%;
}
.product-description
{
	padding-left:5px;
	text-align:left;
	line-height:1;
}
.product-buyPrice
{
	background-color: rgb(40, 119, 57);
	color:rgb(255, 255, 255);
	display:inline-block;
	font-weight:500;
	padding:5px;
	border-radius:5px;
}
.product-buyPrice:hover
{
	background-color:rgb(64, 197, 93);
	color:rgb(255,255,255);
	text-decoration: none;
}
.product-detail
{
	background: rgb(44,44,44);
	color:rgb(255,255,255);
	display:inline-block;
	font-weight:500;
	padding:5px;
	border-radius: 5px;
}
.product-detail:hover
{
	background:rgb(66,66,66);
	color:rgb(255, 255, 255);
	text-decoration: none;
}